@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: transformers;
    src: url(fonte/Transformers\ Movie.ttf)format('truetype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #45e4508c;
    --cor2: #3BBF44;
    --cor3: #38A640;
    --cor4: #2F7334;
    --cor5: #0D0D0D;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-transformers: 'transformers', cursive;
}


*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--cor1);
}

a.external::after {
    content: '\00A0\1F517';
}

header {
    font-family: transformers;
    min-height: 150px;
    padding-top: 30px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
}

header > h1 {
    color: white;
    font-weight: normal;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}

header > h2 {
    color: white;
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color: var(--cor4);
}

nav > a {
    color: #c5ebd6;
    border-radius: 8px;
    padding: 7px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .4s;
}

nav > a:hover {
    background-color: azure;
    color: black;
}

main {
    min-width: 350px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main > h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4em;
    margin: 10px;
    padding: 10px;
    text-indent: 5px;
}

p {
    text-align: justify;
    padding: 8px;
}

table {
    min-width: 350px;
    max-width: 900px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: auto;
}

td, th {
    border: 1px solid grey;
    font-weight: bold;
    padding: 10px;
}